.header__container {
   @include flex;
   justify-content: space-between; 
   align-items: center;
   padding: 30px 0 55px;
}
.header__link {
    padding: 15px 20px;
    border-radius: 23px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}