.message__container {
    padding-bottom: 170px;
    position: relative;
}
.message__actions {
    @include flex;
    align-items: center;
}
.message__content {
    width: 466px;
    margin-left: 217px;
}
.message__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #00194A;
    margin: 0;
}
.message__descreption {
    line-height: 28px;
    color: #00194A;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0;
    padding-top: 30px;
}
.message__list {
    @include reset-list;
    position: absolute;
    top: 280px;
    left: 140px;
}
.message__item {
    @include flex;
    align-items: center;
    width: 391px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 15px 10px 10px;    
}
.message__item:nth-child(2) {
    margin-left: 30px;
}
.message__item:nth-child(3) {
    margin-left: 60px;
    margin-bottom: 0;
}
.message__item-content {
    margin-left: 15px;
    flex-grow: 1;
}
.message__item-top {
    @include flex;
    justify-content: space-between;
    align-items: center;
}
.message__item-title {
    font-weight: 500;
    line-height: 21px;
    color: #00194A;
    margin: 0;
    padding-bottom: 5px;
}
.message__item-time {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #00194A;
}
.message__item-bottom {
    @include flex;
    justify-content: space-between;
    align-items: center;
}
.message__item-descreption {
    width: 211px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #00194A;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0;
}
.message__item-span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    padding: 5px;
    background-color: #FF0043;
    border-radius: 8px;
    margin-left: auto;
}